<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Django Tips and Tricks</title>
</head>

<body>
  <div class="main">
    <h1 style="font-weight: 700;">Django Tips and Tricks</h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://djangostars.com/blog/uploads/2019/04/cover-17.png"></div>
          <div class="card_content">
            <h2 class="card_title">Use the {% url %} tag</h2>
            <p class="card_text">Essentially the <code>{% url %}</code> takes a view name and its parameters and does a
              reverse lookup to return the queried URL. If
              you make changes to your urls.py file, the links won't break.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <h3 class="made_by">Made with ♡</h3>
</body>

</html>